h1 {
    color: teal;
    background-color: plum;
    text-align: center;
    font-weight: 400;
    text-decoration: #f78120 underline wavy;
    letter-spacing: 15px;
    font-size: 80px;
    font-family: Futura, Arial, Helvetica, sans-serif;
}
button {
    color: magenta;
    background-color:cyan;
}
p {
    background: orange;
    line-height: 2;
}